
  .containerr {
    background-color: rgba(240, 227, 227, 0.8);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .containerr h1 {
    text-align: center;
  }
  .containerr form {
    display: flex;
    flex-direction: column;
  }
  .containerr form label {
    margin-bottom: 5px;
  }
  .containerr form input,
  .containerr form textarea {
    padding: 5px;
    margin-bottom: 10px;
  }
  .containerr form input[type="submit"] {
    background-color: #0881f1;
    color: white;
    border: none;
    cursor: pointer;
  }
  .containerr form input[type="submit"]:hover {
    background-color: #1b0575;
  }
  #help-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 9999;
  }
  
  #help-button button {
    padding: 10px 20px;
    background-color: #80afa9;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
    
  }
  #help-button button:hover {
    background-color: #006dd6;
    color: white;
  }